<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto" style="margin-right: 50px">
        <li  class="nav-item active" *ngFor="let hastag of hastags">
          <button  class="btn-navbar-home">{{hastag.name}}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
