<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa-solid fa-house" style="margin-right: 5px"></i> Trang chủ</a>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-regular fa-circle-play" style="margin-right: 5px"></i> Shorts</a>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-brands fa-youtube" style="margin-right: 5px"></i> Kênh đăng ký</a>
    <hr>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-photo-film" style="margin-right: 5px"></i> Thư viện</a>
    <a routerLink="/history/video/{{currentUserId}}" class="w3-bar-item w3-button w3-padding"><i class="fa-regular fa-clock" style="margin-right: 5px"></i> Video đã xem</a>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-brands fa-youtube" style="margin-right: 5px"></i> Video của bạn</a>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa-solid fa-clock" style="margin-right: 5px"></i> Xem sau</a>
    <a routerLink="/history/like"  class="w3-bar-item w3-button w3-padding"><i class="fa-regular fa-thumbs-up" style="margin-right: 5px"></i> Video đã thích</a>
    <hr>
    <h5 style="margin-left: 20px">Kênh đăng ký</h5>
    <div *ngFor="let studio of studios">
      <a  class="merchant-name"><p class="text-gray mb-3 "><img  src="http://localhost:8080/image/{{studio.user.avatar}}" style="width: 30px; border-radius: 50%; margin-left: 20px"> {{studio.user.studioName}} </p></a>
    </div>
  </div>
</nav>
<script>
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
</script>

