<!DOCTYPE html>
<html>
<app-navbar-user></app-navbar-user>

<body class="w3-light-grey w3-content" style="max-width:1600px;">

<app-navbar-home style="margin-bottom: 10px"></app-navbar-home>
<!-- Sidebar/menu -->


<app-side-bar></app-side-bar>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-4 pb-2" >
      <form [formGroup]="videoForm" (ngSubmit)="createNewVideo()">
        <div class="form-group" >

          <label for="exampleFormControlSelectBook">Thể loại</label>
          <select class="form-control" id="exampleFormControlSelectBook" formControlName="hastag" >
            <option *ngFor="let hastag of hastags" value="{{hastag.id}}" >{{hastag.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInputSpell">Tên video</label>
          <input type="text" class="form-control" id="exampleFormControlInputSpell" placeholder="Nhập tên video" formControlName="name" >
        </div>
        <div class="form-group">
          <label for="exampleFormControlInputAudio">File video</label>
          <input type="file" class="form-control" id="exampleFormControlInputAudio" placeholder="Nhập file video" (change)="changeVideo($event)">
        </div>
        <input type="submit" value="Thêm">
        <a routerLink="/admin/studio" class="btn btn-default">Quay lại</a>
      </form>

    </div>
    <!-- First Photo Grid-->


  </div>

</div>
<script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
</script>

</body>
</html>


