<app-navbar-user id="app-navbar-customer" ></app-navbar-user>
<app-navbar-home></app-navbar-home>

<section class="section pt-5 pb-5 products-listing">

  <div class="container">
    <div class="row d-none-m">
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-side-bar></app-side-bar>


      </div>
      <div class="col-md-9">
        <div class="owl-carousel owl-carousel-category owl-theme list-cate-page mb-4">
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/1.png" alt="">
                <h6>American</h6>
                <p>156</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/2.png" alt="">
                <h6>Pizza</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/3.png" alt="">
                <h6>Healthy</h6>
                <p>130</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/4.png" alt="">
                <h6>Vegetarian</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/5.png" alt="">
                <h6>Chinese</h6>
                <p>111</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/6.png" alt="">
                <h6>Hamburgers</h6>
                <p>958</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/7.png" alt="">
                <h6>Dessert</h6>
                <p>56</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/8.png" alt="">
                <h6>Chicken</h6>
                <p>40</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/9.png" alt="">
                <h6>Indian</h6>
                <p>156</p>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <form [formGroup]="videoForm" (ngSubmit)="createNewVideo()">
            <div class="form-group" >

              <label for="exampleFormControlSelectBook">Thể loại</label>
              <select class="form-control" id="exampleFormControlSelectBook" formControlName="hastag" >
                <option *ngFor="let hastag of hastags" value="{{hastag.id}}" >{{hastag.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInputSpell">Tên video</label>
              <input type="text" class="form-control" id="exampleFormControlInputSpell" placeholder="Nhập tên video" formControlName="name" >
            </div>
            <div class="form-group">
              <label for="exampleFormControlInputAudio">File video</label>
              <input type="file" class="form-control" id="exampleFormControlInputAudio" placeholder="Nhập file video" (change)="changeVideo($event)">
            </div>
            <input type="submit" value="Thêm">
            </form>
          </div>
          </div>

          <div class="col-md-12 text-center load-more">

          </div>
        </div>
      </div>
    </div>


</section>
<app-footer></app-footer>
