
<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm" >

  <a class="navbar-brand" routerLink="/home" style="margin-left: 60px" ><img alt="logo" src="assets/customer-template/img/studio-removebg-preview.png" style="height: 30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" style="margin-top: 10px; margin-right: 600px">
        <div class="input-group">
          <form [formGroup]="searchForm" (ngSubmit)="goToSearch()">
            <div class="form-outline">
              <input (change)="changeName($event)" placeholder="Tìm kiếm" formControlName="name"  type="search" size="50" id="form1" class="form-control" />
            </div>
            <button id="searchbtn" (click)="goToSearch()" type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!loggedIn">Đăng nhập <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a  routerLink="/video/create" class="btn btn-primary" style="margin-top: 10px; height: 40px; border-radius: 10px; border: none; margin-right: 10px">Tạo mới</a>
      </li>
      <li class="nav-item" >

        <div class="dropdown">
          <a href="#" id="imageDropdown" data-toggle="dropdown" style="margin-right: 100px">
            <img src="http://localhost:8080/image/{{user.avatar}}" style="width: 40px;  border-radius: 50%; height: auto; margin-top: 10px">
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="imageDropdown">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 1</a></li>
            <li role="presentation"><a (click)="logout()" role="menuitem" tabindex="-1" href="#">Đăng xuất</a></li>
            <li role="presentation"><a routerLink="/video/create"  role="menuitem" tabindex="-1" href="#">Tạo video mới</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 4</a></li>
          </ul>
        </div>
      </li>




    </ul>
  </div>


</nav>
