<!DOCTYPE html>
<html>
<app-navbar-user></app-navbar-user>

<body class="w3-light-grey w3-content" style="max-width:1600px;">
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">
  <br>

    <div class="col-md-9 col-sm-6 mb-4 pb-2">
      <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm" >
        <div class="list-card-image">
            <video width="1170" height="700" controls>
              <source src="{{videoLink}}" type="video/mp4">
            </video>
          <!--      <a routerLink="/home/food/{{dish.id}}" routerLinkActive="active">-->
          <!--        <img src="http://localhost:8080/image/{{dish.image}}" alt="" class="img-fluid item-img food-img">-->
          <!--      </a>-->
        </div>

        <div class="p-3 position-relative">
          <div class="list-card-body">
            <h6 class="mb-1"><a routerLink="/home/food/{{video.id}}" class="text-black">{{video.name}}</a></h6>
            <a routerLink="/home/merchant/{{video.user.id}}" class="merchant-name"><p class="text-gray mb-3 ">{{video.user.username}}</p></a>
            <p class="text-gray mb-3 time">{{video.dateCreated}}</p>
            <!--          class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i-->
            <!--          class="icofont-wall-clock"></i> 20–25 min</span> <span-->
            <!--          class="float-right text-black price">{{dish.price | number}}đ</span></p>-->
          </div>
        </div>
      </div>

    </div>
    <!-- First Photo Grid-->


  </div>

<script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
</script>

</body>
</html>

