<!DOCTYPE html>
<html>
<app-navbar-user></app-navbar-user>

<body class="w3-light-grey w3-content" style="max-width:1600px;">
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main">
  <br>
  <div class="row">
    <div class="col-md-9 col-sm-6 mb-4 pb-2">
      <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
        <div class="list-card-image" *ngFor="let video1 of videos1">
          <video (ended)="checkVideoEnd()" (click)="checkIsPlayVideo()" (timeupdate)="setCurrentTime($event)" width="1200" height="675" controls
                 id="videoPlayer">
            <!--                      <button><i class="fa-solid fa-play"></i></button>-->

            <source src="{{video1.url}}" type="video/mp4">
          </video>
          <div class="content">
            <div class="play" *ngIf="!isPlayVideo"><i (click)="playPause()" class="fa-solid fa-play"></i></div>
          </div>
        </div>
        <div class="p-3 position-relative">
          <div class="list-card-body">
            <h2 class="mb-1"><a class="text-black">{{video.name}}</a></h2>
            <div class="container_swap">
<!--              <div class="div_left">-->
<!--                <a class="text-gray mb-3 "><img src="http://localhost:8080/image/{{video.user.avatar}}"-->
<!--                                                style="width: 40px; border-radius: 50%"> <h5 style="font-size: 15px" >{{video.user.studioName}} <i class="fa-solid fa-circle-check"></i> </h5> </a>-->
<!--              </div>-->
              <div class="profile_photo">
                <img src="http://localhost:8080/image/{{video.user.avatar}}" style="width: 40px; border-radius: 50%">
                <b style="font-size: 19px">
                  {{video.user.studioName}}
                </b>
                <b>
                  <i class="fa-solid fa-circle-check"></i>
                </b>
                <b style="margin-left: 10px" *ngIf="!checkSubscriber" (click)="addNewMember(video.user.id, currentUserId)" class="btn btn-dark">
                  Đăng ký
                </b>
<b style="margin-left: 10px" *ngIf="checkSubscriber" class="dropdown btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
   Đã đăng ký
    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
      <!-- Button trigger modal -->
      <button  type="button" class="btn btn-default dropdown-item" data-toggle="modal"
              data-target="#unSubscribe">
        Hủy đăng ký
      </button>
      <!-- Modal -->
    </div>
</b>
                <b style="margin-left: 90px" *ngIf="checkSubscriber"><i id="bell" class="fa-solid fa-bell"></i>
                </b>
              </div>
              <div class="div_left_studio">
                <b  id="date-created" class="text-gray mb-3 time">{{video.totalSubscriber}} người đăng ký</b>
                <br>
                <b style="font-size: 19px" id="date-created1" class="text-gray mb-3 time">{{video.totalView}} lượt xem - {{video.dateCreated}}</b>
                <h5  style="width: 500px;margin-left: -14px">{{video.description}}</h5>
              </div>
              <div class="div_right1">
                <button (click)="addNewLike(videoId, currentUserId)" class="btn btn-default"><i *ngIf="!isLikeVideo"
                                                                                                class="fa-regular fa-thumbs-up"></i><i
                  *ngIf="isLikeVideo" class="fa-solid fa-thumbs-up"></i> {{video.totalLike}}</button>
                <button (click)="addNewDisLike(videoId, currentUserId)" class="btn btn-default"><i *ngIf="!isDisLike"
                                                                                                   class="fa-regular fa-thumbs-down"></i><i
                  *ngIf="isDisLike" class="fa-solid fa-thumbs-down"></i> {{video.totalDisLike}}</button>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
      <!--      <app-card-video-details videoId="{{videoId}}"></app-card-video-details>-->
    </div>
    <div class="col-md-3">
      <cdk-virtual-scroll-viewport itemSize="10" class="container-scroll-reply">
        <div *ngFor="let video of videos">
          <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
              <a (click)="reloadComponent(video.id)" routerLink="/video/{{video.id}}" style="cursor: pointer">
                <video width="365" height="200">
                  <source src="{{video.url}}" type="video/mp4">
                </video>
              </a>
            </div>
            <div class="p-3 position-relative">
              <div class="list-card-body">
                <h5 class="mb-1"><a (click)="reloadComponent(video.id)" routerLink="/video/{{video.id}}"
                                    class="text-black">{{video.name}}</a></h5>

                <a routerLink="/home/merchant/{{video.user.id}}" class="merchant-name"><h6 class="text-gray mb-3 "><img
                  src="http://localhost:8080/image/{{video.user.avatar}}"
                  style="width: 40px; border-radius: 50%"> {{video.user.studioName}} <i style="font-size: 13px"
                                                                                        class="fa-solid fa-circle-check"></i>
                </h6></a>
                <p style="margin-left: 42px; margin-top: -25px" class="text-gray mb-3 time">{{video.dateCreated}}</p>
              </div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="col-md-9 col-sm-6 mb-4 pb-2">
      <div class=" bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
        <div class="container_swap1">
          <div class="div_left3">
            <h6>{{video.totalComment}} bình luận</h6>
          </div>
          <div class="div_left4">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrow-up-wide-short"></i> Sắp xếp theo
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button (click)="showListCommentOrderByTotalLike()" class="dropdown-item" type="button">Bình luận hàng đầu</button>
                <button (click)="getCommentOfVideo()" class="dropdown-item" type="button">Mới nhất xếp trước</button>
              </div>
            </div>
          </div>
        </div>

        <div class="container_swap2">
          <div class="div_left5">
            <img src="http://localhost:8080/image/{{user.avatar}}"
                 style="width: 40px; border-radius: 50%">
          </div>
          <div class="div_left6">
            <form [formGroup]="commentForm">
              <textarea (click)="showButton()" class="content-comment" placeholder='Viết bình luận...'
                        formControlName="content"></textarea>
            </form>

            <button *ngIf="isShowButton"
                    style="background-color: transparent;float: right;margin-right: 20px; margin-bottom: 10px"
                    id='clear1' class="btn btn-default" (click)="hiddenFormComment()">Huỷ
            </button>
            <input *ngIf="isShowButton"
                   style="background-color: transparent; float: right;margin-right: 20px; margin-bottom: 10px"
                   type="button" class="btn btn-primary" (click)="createNewComment()" value='Bình luận'>
          </div>
        </div>
        <div *ngIf="comments.length > 0" class="container mb-5 mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="media" *ngFor="let comment of comments">
                    <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview"
                         src="http://localhost:8080/image/{{comment.user.avatar}}" style="width: 40px; height: 40px"/>
                    <div class="media-body">
                      <div class="row">
                        <div class="col-8 d-flex">
                          <h5>{{comment.user.studioName}}</h5>
                          <span style="margin-top: 10px">- {{comment.dateCreated}}</span>
                        </div>
                      </div>
                      {{comment.content}}
                      <div>
                        <button
                          (click)="addNewLikeComment(comment.id, currentUserId); checkLikeComment(comment.id, currentUserId)"
                          class="btn btn-default"><i  class="fa-regular fa-thumbs-up"></i>
<!--                                                    <i class="fa-solid fa-thumbs-up"></i>-->
                          {{comment.totalLike}}</button>
                        <button (click)="addNewDisLikeComment(comment.id, currentUserId)" class="btn btn-default">
                          <i class="fa-regular fa-thumbs-down"></i>
                          <!--                                        <i *ngIf="isDisLike" class="fa-solid fa-thumbs-down"></i> -->
                          {{comment.totalDislike}}</button>
                        <button class="btn btn-default" (click)="displayFormReply(comment.id)">
                          Phản hồi
                        </button>
                      </div>
                      <div>
                        <div class="container_swap4">
                          <div style="margin-left: -2px"
                               *ngIf="isShowReply.commentId === comment.id && isShowReply.isShowReply"
                               class="div_left10">
                            <img src="http://localhost:8080/image/{{user.avatar}}"
                                 style=" border-radius: 50%; width: 30px; height: 30px; margin-top: 10px">
                          </div>
                          <div *ngIf="isShowReply.commentId === comment.id && isShowReply.isShowReply"
                               class="div_left11">
                            <form [formGroup]="replyForm">
              <textarea style="margin-top: 5px" class="content-comment" placeholder='Phản hồi...'
                        formControlName="content"></textarea>
                            </form>
                            <button *ngIf="isShowReply.commentId === comment.id && isShowReply.isShowReply"
                                    style="background-color: transparent;float: right;margin-right: 20px; margin-bottom: 10px"
                                    (click)="hiddenButtonReply(comment.id)" id='clear' class="btn btn-default"
                                    (click)="hiddenFormComment()">Huỷ
                            </button>
                            <input *ngIf="isShowReply.commentId === comment.id && isShowReply.isShowReply"
                                   style="background-color: transparent; float: right;margin-right: 20px; margin-bottom: 10px"
                                   type="button" class="btn btn-primary" (click)="addNewReply(comment.id)" value='Phản hồi'>
                          </div>
                        </div>
                      </div>
                      <div>
                        <br *ngIf="isShowReply.commentId === comment.id && isShowReply.isShowReply">
                        <br *ngIf="isShowReply.commentId === comment.id && isShowReply.isShowReply">
                        <button (click)="showAllReply(comment.id)" class="show-reply"
                                *ngIf="comment.replyDTOList.length > 0">{{comment.replyDTOList.length}} phản hồi
                        </button>
                      </div>
                      <div class="media mt-4" *ngFor="let reply of comment.replyDTOList">
                        <a *ngIf="isShowAllReply.commentId == comment.id && isShowAllReply.isShowAllReply" class="pr-3"
                           href="#"><img style="width: 30px; height: 30px" class="rounded-circle"
                                         alt="Bootstrap Media Another Preview"
                                         src="http://localhost:8080/image/{{reply.user.avatar}}"/></a>
                        <div class="media-body">
                          <div style="margin-top: -5px"
                               *ngIf="isShowAllReply.commentId == comment.id && isShowAllReply.isShowAllReply"
                               class="row">
                            <div class="col-12 d-flex">
                              <h5>{{reply.user.studioName}}</h5>
                              <span style="margin-top: 10px">- {{reply.dateCreated}}</span>
                            </div>
                          </div>
                          <p
                            *ngIf="isShowAllReply.commentId == comment.id && isShowAllReply.isShowAllReply">{{reply.content}}</p>
                          <div style="margin-top: -5px">
                            <button *ngIf="isShowAllReply.commentId == comment.id && isShowAllReply.isShowAllReply"
                                    (click)="addNewLikeReply(reply.id)" class="btn btn-default"><i
                              class="fa-regular fa-thumbs-up"></i>
                              <!--                                <i *ngIf="isLikeComment" class="fa-solid fa-thumbs-up"></i> -->
                              {{reply.totalLike}}</button>
                            <button *ngIf="isShowAllReply.commentId == comment.id && isShowAllReply.isShowAllReply"
                                    (click)="addNewDisLikeComment(comment.id, currentUserId)" class="btn btn-default"><i
                              class="fa-regular fa-thumbs-down"></i>
                              <!--                                <i *ngIf="isDisLike" class="fa-solid fa-thumbs-down"></i> -->
                              {{comment.totalDislike}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="comments.length === 0" class="container mb-5 mt-5">
          <div class="row">
            <div class="col-md-12">
              <h4 style="margin-left: 270px">Hiện tại chưa có bình luận nào. Bạn hãy là người đầu tiên.</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- First Photo Grid-->
    </div>
  </div>
</div>

<div class="modal fade" id="unSubscribe" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn muốn huỷ đăng ký kênh {{user.studioName}} chứ?</h5>
        <span type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</span>
      </div>
      <div class="modal-footer">
        <button (click)="unSubscriber(video.user.id)" type="button" class="btn btn-danger" data-dismiss="modal">Huỷ đăng ký kênh
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</div>
<script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
</script>
</body>
</html>

